<form method='post' action='/api/users'>
	<input type='text' required id='name' name='name' placeholder='nombre' />
	<input type='email' required id='email' name='email' placeholder='email' />
	<input
		type='password'
		required
		id='password'
		name='password'
		placeholder='contraseña'
	/>

	<button type='submit'>Enviar</button>
</form>