<div id='historial'>
	<!-- Div donde se mostrarán los mensajes -->
	<div id='messages'></div>
</div>
<!-- Input para escribir el mensaje -->
<input type='text' id='message' />
<!-- Botón para enviar el mensaje -->
<button id='send' onclick='sendMenssage()'>Enviar</button>

<!-- Incluimos el script de Socket.io -->
<script src='/socket.io/socket.io.js'></script>
<!-- Incluimos nuestro script -->
<script src='/js/main.js'></script>