<div class='container'>
	<div class='row'>
		<div class='col text-center'>
			<img
				src='/img/vectors/server_down.svg'
				alt='404'
				class='img-fluid'
				style='margin-top: 90px;'
			/>
		</div>
	</div>
</div>