<div><br /></div>
<div class='container'>
	<div class='row'>

		<div class='col-md-12'>
			<h2>Login</h2>
			<form action='/api/users/login' method='post'>
				<div class='row'>
					<div class='col-6'>
						<input
							type='text'
							class='form-control'
							placeholder='Nombre'
							aria-label='Nombre'
							name='user'
						/>
					</div>
					<div class='col-6'>
						<input
							type='password'
							class='form-control'
							placeholder='Correo Electronico'
							aria-label='Correo Electronico'
							name='pass'
						/>
					</div>
					<div class='col-12'>
						<button type='submit' class='form-control'>
							Enviar
						</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>