<section class='container'>
	<div class='row bg-light login-section'>
		<div class='col-4'></div>
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Ingresar</h1>
			<form action='/api/users/auth' method='post'>
				<div class='row'>
					<div class='col-12'>
						<input
							type='email'
							class='form-control'
							placeholder='Correo Electronico'
							aria-label='Correo'
							name='email'
						/>
					</div>
					<div class='col-12'>
						<input
							type='password'
							class='form-control'
							placeholder='Contraseña'
							aria-label='Contraseña'
							name='password'
						/>
					</div>

					<button
						type='submit'
						class='btn btn-primary col-12'
					>Ingresar</button>
				</div>
			</form>
		</div>
	</div>
</section>